.borderPane{
	fx-background-color: white;
}


.button{
	fx-background-color: lightgrey;
	fx-border-color: black;
	fx-font-size: 24 px;
}

.menuBar{
	fx-background-color: lightgrey;
	fx-border-color: grey;
	fx-font-size: 24 px;
}

.vBox{
	fx-background-color: lightgrey;
	fx-border-color: green;
}

.pane{
	fx-background-color: black;
	fx-border-color: green;
}

.caseClaire{
	fx-background-color: #f2e8ce;
}

.caseSombre{
	fx-background-color: brown;
}
